modules = ["web", "nodejs-22"]
[agent]
expertMode = true
integrations = ["javascript_log_in_with_replit:2.0.0"]

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[userenv]

[userenv.shared]
NEXT_PUBLIC_CLERK_SIGN_IN_URL = "/sign-in"
NEXT_PUBLIC_CLERK_SIGN_UP_URL = "/sign-up"
NEXT_PUBLIC_CLERK_SIGN_IN_FORCE_REDIRECT_URL = "/app/"
NEXT_PUBLIC_CLERK_SIGN_UP_FORCE_REDIRECT_URL = "/app/"

[userenv.development]
BETTER_AUTH_SECRET = "DlJtemODYEl5cmCFmNonObmj1/rO82pSpLQq9vsPTbo="

[userenv.production]
NEXTAUTH_URL = "https://ona-com-open-source--j88905251.replit.app"

[deployment]
deploymentTarget = "autoscale"
run = ["npm", "run", "start"]
build = ["npm", "run", "build"]
